<!DOCTYPE html>
<html>

<head>

<title>IPL Auction</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="topbar">

        Logged in as: <b>{{ username }}</b>
        
        <a href="/logout">
        <button class="logout-btn">Logout</button>
        </a>
        
        </div>
<h1>🏏 IPL Auction Dashboard</h1>

<div class="container">

    {% for p in players %}

    <div class="player-card">
    
    <h3>{{ p["name"] }}</h3>
    
    <p>Country: {{ p["country"] }}</p>
    <p>Role: {{ p["role"] }}</p>
    
    <p>Base Price: ₹{{ p["base_price"] }}</p>
    
    <p class="price">
    Current Bid ₹{{ p["current_bid"] }}
    </p>
    
    <a href="/player/{{ p['player_id'] }}">
    <button>Join Auction</button>
    </a>
    
    </div>
    
    {% endfor %}
</div>

</body>
</html>